<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bachelorarbeit.bachelorarbeit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_INTERNET"/>

    <!--TODO: Info über Backup durchlesen-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_map_api_key"/>

        <!-- <service android:name=".BackgroundService" /> -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="@string/home_activity_label"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".ActivitiesActivity"
            android:label="@string/activities_activity_label">
        </activity>

        <activity
            android:name=".GraphActivityDaily"
            android:label="@string/graph_activity_label">
        </activity>

        <activity
            android:name=".PlacesActivity"
            android:label="@string/places_activity_label">
        </activity>

        <activity
            android:name=".SensitivitiesActivity"
            android:label="@string/sensitivities_activity_label">
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity_label">
        </activity>

        <activity
            android:name=".EmergencyActivity"
            android:label="@string/emergency_activity_label">
        </activity>

        <activity
            android:name=".GPSTracker">
        </activity>

        <activity
            android:name=".MapViewActivity"
            android:label="@string/map_activity_label">
        </activity>

        <activity
            android:name=".CalendarActivityDaily"
            android:label="@string/calendar_activity_daily_label">
        </activity>

        <activity
            android:name=".CalendarActivityWeekly"
            android:label="@string/calendar_activity_weekly_label">
        </activity>

        <activity
            android:name=".ScoreActivity"
            android:label="@string/score_activity_label">
        </activity>

        <service
            android:name=".BackgroundService"
            android:exported="false">
        </service>
    </application>

</manifest>